%p
  %label{:for => 'double_fullpath'} Request fullpath*
  %input.wide#double_fullpath{:type => 'text', :name => 'double[fullpath]', :value => @double.fullpath}

%p
  %label{:for => 'double_content'} Content*
  %textarea.wide#double_content{:name => 'double[content]', :rows => 10}= @double.content

%p
  %label{:for => 'double_verb'} Verb
  %select#double_verb{:name => 'double[verb]'}
    - verbs.each do |v|
      %option{:name => v, :selected => (@double.verb == v)}= v

%p
  %label{:for => 'double_description'} Description
  %textarea.wide#double_description{:name => 'double[description]', :rows => 3}= @double.description

%p
  %label{:for => 'double_status'} Status
  %select#double_status{:name => 'double[status]'}
    - statuses.each do |s|
      %option{:name => s, :selected => ((@double.status || 200) == s)}= s

%p
  %label{:for => 'double_response_headers_content_type'} Content-Type
  %input.wide#double_response_headers_content_type{:type => 'text', :name => 'double[response_headers][Content-Type]', :value => @double.response_headers['Content-Type']}

%p
  %label{:for => 'double_response_headers_cache_control'} Cache-Control
  %input.wide#double_response_headers_cache_control{:type => 'text', :name => 'double[response_headers][Cache-Control]', :value => @double.response_headers['Cache-Control']}

%p
  %input{:type => 'submit', :value => 'Save'}
  |
  %a{:href => 'javascript:history.back()'} back
